Django==4.1\ndjangorestframework==3.14.0\ndjango-allauth==0.51.0\ndjango-cors-headers==4.5.0\ndj-rest-auth\ndjongo==1.3.6\npymongo==3.12\nsqlparse==0.2.4\nstack-data==0.6.3\nsympy==1.12\ntenacity==9.0.0\nterminado==0.18.1\nthreadpoolctl==3.5.0\ntinycss2==1.3.0\ntornado==6.4.1\ntraitlets==5.14.3\ntypes-python-dateutil==2.9.0.20240906\ntyping_extensions==4.9.0\ntzdata==2024.2\nuri-template==1.3.0\nurllib3==2.2.3\nwcwidth==0.2.13\nwebcolors==24.8.0\nwebencodings==0.5.1\nwebsocket-client==1.8.0
